*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'futura';
}
*::selection{
    color: white;
    background-color: black;

}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    min-height: 100vh;
    width: 100%;
}
h1,h2,h3{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px;
}
#row #prod{
    height: 250px;
    width: 250px;
}
#row #prod{
    text-wrap: wrap;
}
#row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;
    margin-top: 50px;
}
#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

#nav #cart{
    height: 30px;
    width: 70px;
    color: white;
    background-color: black;
    margin-right: 200px;
    
}
#subnav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#cart{
    display: flex;
    align-items: center;
    justify-content: center;
}
