*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'futura';
}
*::selection{
    color: white;
    background-color: black;

}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    min-height: 100vh;
    overflow: hidden;
}
#page1{
    min-height: 100vh;
    position: relative;
    width: 100%;
}
#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#subnav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-right: 20px;
    margin-bottom: 40px;
}
#subnav a{
    color: black;
    font-size: 14px;
    font-weight: 100;
    /* -webkit-text-stroke: 0.6px white; */
    text-decoration: none;
}
#page1 h1{
    font-size: 11vw;
    line-height:140px;
    letter-spacing: -5px;
}
#page1 image{
    height: 100vh;
    /* width: 100%; */
    position: relative;
}
#page2 #categories{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20PX;
    gap: 15px;
    margin-left: 12px;
}
#page2 h2{
    margin-top: 20x;
    text-align: center;
    font-size: 30PX;
}
#main #text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 30px;
}
#main #text p{
    padding-top: 100px;
    padding-bottom: 100px;
    font-weight: 100;
    font-size: 20px;
    font-family: 'Gilroy'
}

#main .product{
    display: flex;
    align-items: center;
    justify-content: space-around;

}
#main h2{
    text-align: center;
    margin-bottom: 20px;

}
#main #product2{
    margin-bottom: 120px;
}
#text{
    background-color: black;
    color: white;
}


