*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'futura';
}
*::selection{
    color: white;
    background-color: black;

}
html,body{
    height: 100%;
    width: 100%;
}
#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

#nav #cart{
    height: 30px;
    width: 70px;
    color: white;
    background-color: black;
    margin-right: 200px;
    
}
#subnav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#cart{
    display: flex;
    align-items: center;
    justify-content: center;
}
#row{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#row #rowitem{
    height: 300px;
    width: 140px;
}
 h1 , h2 ,h3{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: black;
    color: white;
    border-radius: 10%;

}
/* #main #row{
    min-height: 700px;
    margin-bottom: 100px;
} */