  *{
    padding:0px;
    margin:0px;
    font-family: 'futura';
    box-sizing: border-box;
}
body{ 
    background:#08071d;
    display:flex;
    justify-content: center;
    align-items:center; 
    background-image:url(../images/building.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}

#name{
    height: 100vh;
    width: 100%;
    display:flex;
    justify-content:center;
    align-items: center;
}
#name form{
    margin-top:20px;
    height:600px;
    width:670px;
    display:flex;
    justify-content:center;
    border-radius:15px;
    box-shadow: 20px 20px 20px rgba(0,0,0,0.5);
    background: rgba(225,225,225,0.1);
    backdrop-filter:blur(10px) ;
    flex-wrap:wrap;
}
#name h1{
    margin-top:20px;
    color: black;
    font-size:50px;
    text-align: center;
    font-weight: 500;
    width:500px;
}
#name form input{
    height:40px;
    width:290px;
    padding-left:40px;
    outline:none;
    border:none;
    font-size:15px;
    margin-bottom:10px;
    background:none;
    border-bottom:2px solid #fff;
}
#name input::placeholder{
    color:black;
}
#name form h4{
    color:black;
    width:600px;
    margin-top:20px;
}
#name form textarea{
    border:none;
    height:100px;
    width:500px;
    background-color: rgb(15, 40, 75);
    color:#fff;
    display:block;
    font-size:15px;
}
#name form #button{
    border:none;
    border-radius:5px;
    text-align: left;
    width:100px;
    background-color:#fff;
    margin-right: 80px;
    padding-right: 10px;
}
#name form .h2{
    color:white;
    font-size:20px;
}
#name form #button{
    height: 50px;
    width: 100px;
    background: black;
    text-decoration: none;
    /* background-color: black; */
    border-radius: 20px;
    text-align: center;
    padding-top: 14px;
    color:white;

}