*{
    margin:0px;
    padding:0px;
}
body{
    min-height:100vh;
    background-color: #e8f0fe;
    text-align:center;
    padding:50px;
}
#heading{
    font-family:Georgia, 'Times New Roman', Times, serif ;
    font-size:50px;
    color:#333;
}
#container{
    display:flex;
    justify-content:flex-start;
    align-items: center;
    margin:20px 0px 0px 200px;
}
#message{
    height: 650px;
    width:400px;
    display:flex;
    justify-content:center;
    align-content: baseline;
    box-shadow: 20px 20px 20px rgba(0.5,0,0,0.5);
    backdrop-filter: blur(10px);
    flex-wrap:wrap;
}
#message input{
    height:40px;
    width:300px;
    color:white;
    border:none;
    border-radius:15px;
    background: black;
    border-bottom:2px solid #fff;
    font-size:20px;
}
#name{
    margin-top:50px;
}
#email{
    margin-top:50px;
}
#container form textarea{
    background:black;
    margin:50px;
    color:#fff;
    font-size:15px;
    height:100px;
    width:300px;
    border-radius:15px;
    font-size:20px;
}
#container input::placeholder{
    font-size:15px;
}
#container form button{
   height:50px;
   width:100px;
   border-radius:30px;
   color:white;
   background:black;
}
#container #info{
  margin:100px;
  font-size:30px;
}